@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Poppins", sans-serif;
}

/* Custom fade integrations and scrolling behavior */
html {
  scroll-behavior: smooth;
  font-family: var(--font-sans);
}

body {
  background-color: #F8FAFC;
  color: #0F172A;
  overflow-x: hidden;
}

/* Hide scrollbar on sleek panels */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
